<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="./css/chef-index.css" rel="stylesheet">
    <title>Inicio Makef's</title>
</head>
<body>
    <header>
        <div class="makefsContainer headerContainer">
            <div class="header_icons">
                <a class="headicons_ico" id="nav-menu-btn">
                    <figure class="nav-btn-bar"></figure>
                    <figure class="nav-btn-bar"></figure>
                    <figure class="nav-btn-bar"></figure>
                </a>
                <a class="headicons_ico" href="#"><img src="./img/hico-translate.png" alt="Translate Button"></a>
                <a class="headicons_ico" href="#"><img src="./img/hico-light.png" alt="Theme Menu"></a>
                <a class="headicons_ico" href="#"><img src="./img/hico-home.png" alt="Home Menu"></a>
                <a class="headicons_ico" href="#"><img src="./img/hico-favorites.png" alt="Saved Menu"></a>
            </div>
            <div class="header_logo">
                <article class="headlogo_text">
                    <h1>Makefs</h1>
                    <h2>Making Chef's</h2>
                </article>
                <img class="headlogo_logo" src="./img/makefs-logo.png">
            </div>
            <div class="header_logreg">
                <a id="userlog">
                    <img src="./img/hico-user.png">
                </a>
                <ul id="user_selection" class="userSelectClose">
                    <a class="headlog_btn" href="">
                        <p>Ingresa y Enseña</p>
                        <img class="headlog_ico" src="./img/hico-login.png">
                    </a>
                    <a class="headlog_btn" href="">
                        <p>Unete y Aprende</p>
                        <img class="headlog_ico" src="./img/hico-register.png">
                    </a>
                </ul>
            </div>
        </div>
    </header>
    <div class="makefsContainer">
        <nav class="nav-bar-hidden" id="nav-bar">
            <div class="searchNav">
                <input class="text" placeholder="Buscar">
                <button></button>
            </div>
            <h3>Categorias</h3>
            <ul>
                <li><a>Comida Mexicana</a></li>
                <li><a>Comida Tipica</a></li>
                <li><a>Comida Santandereana</a></li>
                <li><a>Comida Paisa</a></li>
                <li><a>Comida Tolimense</a></li>
                <li><a>Comida Italiana</a></li>
                <li><a>Comida Vegetariana</a></li>
            </ul>
        </nav>
    </div>
    <section class="recipe-container" id="principal-recipes">
        <div class="makefsContainer recipe-body">
            <h2 id="title-ctc"> RECETAS RECOMENDADAS</h2>
            <div class="general-recipes-container">
                <div class="recipe-template">
                    <figure class="likes-template"><img src="./img/rhico-like.png"><b id="likeCount">100</b></figure>
                    <figure class="image-template"><img src="./test-imgs/pollo.jpeg"></figure>
                    <div class="text-template"><h3>Pollo broaster Makefsiano</h3><a href="#"></a></div>
                </div>
                <div class="recipe-template">
                    <figure class="likes-template"><img src="./img/rhico-like.png"><b id="likeCount">100</b></figure>
                    <figure class="image-template"><img src="./test-imgs/pollo.jpeg"></figure>
                    <div class="text-template"><h3>Pollo broaster Makefsiano</h3><a href="#"></a></div>
                </div>
                <div class="recipe-template">
                    <figure class="likes-template"><img src="./img/rhico-like.png"><b id="likeCount">100</b></figure>
                    <figure class="image-template"><img src="./test-imgs/pollo.jpeg"></figure>
                    <div class="text-template"><h3>Pollo broaster Makefsiano</h3><a href="#"></a></div>
                </div>
                <div class="recipe-template">
                    <figure class="likes-template"><img src="./img/rhico-like.png"><b id="likeCount">100</b></figure>
                    <figure class="image-template"><img src="./test-imgs/pollo.jpeg"></figure>
                    <div class="text-template"><h3>Pollo broaster Makefsiano</h3><a href="#"></a></div>
                </div>
            </div>
        </div>
    </section>
    <script src="./js/index.js"></script>
</body>
</html>