<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/makefslogo.png">
    <link href="./css/login.css" rel="stylesheet">
    <link href="./css/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Zen+Kaku+Gothic+New:wght@300&display=swap" rel="stylesheet">

    <title>Login - Makefs</title>
</head>
<body>
    <header id="header">
        <div class="logocont">
            <h1>Makef's</h1>
        </div>
        <div class="titlecont">
            <img src="./img/makefs-logo.png" alt="logo makefs">
        </div>
    </header>
    <section id="continfo">
        <div class="viewlogo">
            <img src="./img/makefsinvert.jpg" alt="img">
            <h6>makef's</h6>
        </div>
        <div class="formcont">
            <div class="info-form">
        </div>
        </div>
    </section>
</body>
</html>