<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/Preloader.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Zen+Kaku+Gothic+New:wght@300&display=swap" rel="stylesheet">
    <title>Preloader-Makef's</title>
</head>
<body class="White">
    <section id="ContImgLoader">
        <div class="LogoCont">
            <img src="./img/pngMakefs.png" alt="LogoMakef's">
        </div>
        <div class="PreloaderCont">
            <div class="ContTitle">
                <h1>Makef's</h1>
                <h6>Making chefs</h6>
            </div>
            <div class="Preloader">
                <img src="./img/pngchef.png" alt="Chef">
            </div>
            <div class="loading">
                <h3>Preparando tu pagina</h3>
                <h3 class="dots">...</h3>
            </div>
        </div>
    </section>
    <script src="./js/DarkLoader.js"></script>
</body>
</html>