<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Report</title>
</head>
<body>
    <button id="boton">reportar</button>
    <section  id="reportSection">
        <form action="#" method="POST" id="report">
            <div class="reasonReport">
                <select>
                    <option hidden selected>Escoge la razón del reporte</option>
                    <option>Información falsa</option>
                    <option>Contenido inapropiado</option>
                    <option>Otro</option>
                    
                </select>
            </div>
            <div class="inputsReport">
                <textarea name="detailReport" placeholder="Cuentanos a detalle el problema" id="detailReport"></textarea>
                <input type="submit" name="sendReport" value="Reportar" id="sendReport">
            </div>    
        </form>
    </section>
    <script src="./js/index.js"></script>
    <script src="./js/report.js"></script>
</body>
</html>