<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles.css" rel="stylesheet">
    <title>Report</title>
</head>
<body>
    <header>
        <div class="makefsContainer headerContainer">
            <div class="header_icons">
                <a class="headicons_ico" id="nav-menu-btn">
                    <figure class="nav-btn-bar"></figure>
                    <figure class="nav-btn-bar"></figure>
                    <figure class="nav-btn-bar"></figure>
                </a>

            </div>
            <div class="header_logo">
                <article class="headlogo_text">
                    <h1>Makefs</h1>
                    <h2>Making Chef's</h2>
                </article>
            </div>
            <div class="header_logreg">

                </a>
                <ul id="user_selection" class="userSelectClose">
                    <a class="headlog_btn" href="">
                        <p>Ingresa y Enseña</p>
                        <img class="headlog_ico" src="./img/hico-login.png">
                    </a>
                    <a class="headlog_btn" href="">
                        <p>Unete y Aprende</p>
                        <img class="headlog_ico" src="./img/hico-register.png">
                    </a>
                </ul>
            </div>
        </div>
    </header>
    <div class="formulario">FORMULARIO DE REPORTE
    <form>
        
        <select name="Reportar">
            <option>Razón</option>
            <option>Información falsa</option>
            <option>Contenido inapropiado</option>
            <option>Otro</option>
        </select>
        <input type="text" class="reportedeta" name="detalles" placeholder="Reporte detallado">
        <input type="button" class="boton" value="Reportar">
            
    </div>
    <input type="Button" class="Regresar" value="Regresar">
    </form>

    <div class="receta">Receta a Reportar
        <img src="./makefs-logo.png">
        
    </div>

</body>
</html>