/*  ----------------------------------------------------------------------------------------------------- PRECONFIGS */
:root{
    --color1: #FFBE26;
    --color2: #E08C1D;
    --color3: #F56A14;
    --color4: #E03D14;
    --color5: #FF2C29;
}

body{
    font-family: sans-serif;
}

section{
    margin: auto;
    max-width: none;
}

.makefsContainer{
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 2000px;
    margin: auto;
}

/* ------------------------------------------------------------ MAKEFS BODY RECIPE */

#principal-recipes{
    padding-top: 8vh;
    width: 85%;
    
}

.recipe-body{
    padding-top: 20px;
}

#title-ctc{
    color: #FF2C29;
    font-size: 2em;
    margin-bottom: 1em;
    margin-left: 1.5%;
    border-bottom: 2px #FF2C29 solid;
}

.general-recipes-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 8vh;
}

.categories-down{
    width: 83%;
    max-width: 83%;
    position: fixed;
    height: 9vh;
    bottom: 0.5%;
    left: 8.5%;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px 2px #0000003d;
    border-radius: 20px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 100%;
    transition: .3s;
    z-index: 10;
    background-color: white;
}
.subcategories-down{
    width: 83%;
    max-width: 83%;
    position: fixed;
    height: 9vh;
    bottom: 0.5%;
    left: 8.5%;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px 2px #0000003d;
    border-radius: 20px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 100%;
    transition: .3s;
    display: none;
    opacity: 0;
    z-index: 10;
    background-color: white;
}

.categoryDiv{
    width: 14%;
    height: 70%;
    display: flex;
    color: #FF2C29;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background:white;
    cursor: pointer;
    border: 1px solid #FF2C29;
    overflow: hidden;
}
.categoryDiv a{
    width: 100%;
    text-decoration: none;
    display: flex;
    color: inherit;
    justify-content: center;
    align-items: center;
}
.categoryDiv img{
    position: absolute;
    width: 11vh;
    height: 8vh;
    bottom: 71%;
    object-fit: contain;
}
.returnBtn{
    width: 5%;
}
.recipe-template{
    margin: 1.5%;
    width: 30%;
    height: 41vh;
    min-height: 276px;
    max-height: 400px;
    position: relative;
    padding: 0;
    overflow: hidden;
    filter: brightness(90%);
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-template:hover{
    filter: brightness(100%);
    cursor: pointer;
}
.next-text-recipe{
    margin-top: 2%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.next-text-recipe img{
    width: 5vh;
    height: 5vh;
    object-fit: cover;
    border-radius: 50%;
    max-width: 78px;
    max-height: 78px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.192);
}
.next-text-recipe a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2%;
    text-decoration: none;
    max-width: 80%;
    color:inherit;
}
.next-text-recipe a p{
    text-decoration: none;
    margin: 0;
    color:inherit;
}
.star-template{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 7px;
    margin: 5px;
    position: absolute;
    top: 2%;
    left: 2%;
    border-radius: 15px;
    box-shadow: 0 0 10px 0px #00000075;
    z-index: 3;
}
.star-template img{
    object-fit: contain;
    width: 20px!important;
    height: 20px!important;
}
.star-template b{
    margin-left: 5px;
    color: var(--color5);
}

.image-template{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-template img{
    transition: .2s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recipe-template:hover .image-template img{
    transform: scale(1.2);
    width: 100%;
    height: 100%;
}

.text-template{
    display: flex;
    justify-content: center;
    color: var(--color5);
    width: fit-content;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
    max-height: 1.2rem;
    text-align: start;
    word-break: break-all;
}
#btnCategoriesShow{
    cursor: pointer;
    border: none;
    width: 5vh;
    height: 5vh;
    background-image: url(../img/showCategories.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 0px 10px 2px #0000003d;
    position: fixed;
    bottom: 11vh;
    transform: rotate(90deg);
    margin: 0;
    transition: .3s;
    z-index: 10;
    right: 50%;
}
#followedsContainer{
    margin-top: 2vh;
    width: 95%;
    height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2vh;
}
#followedDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 7vh;
    border-left: 2px solid #ff2c29;
    margin: 1vh 0;
}
#followedDiv a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#followedImg{
    width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#followedImg img{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
#followedName{
    font-size: 1em;
    cursor: pointer;
}
#followedsContainer::-webkit-scrollbar{
    background-color: rgb(209, 209, 209);
    width: 5px;
}
#followedsContainer::-webkit-scrollbar-thumb{
    background-color: var(--color5);
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* /////////////////////////////////////////////  Chef Styles ////////////////////////////////////////////////////////// */
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */

#chef-view{
    height: 100vh;
    max-height: 2500px;
    text-align: center;
}

.chef-view-container{
    display: flex;
}
/* ------------------------------------------------------- Lateral Buttons */

.action-buttons-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    height: 20%;
}
.action-buttons-container a{
    text-decoration: none;
}

.action-btn{
    width: 70%;
    padding-right: 10%;
    height: 8vh;
    background-color: var(--color5);
    border-radius: 20px;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* flex-direction: column; */
    color: white;
    transition: .2s;
    object-fit: contain;
    /* max-width: 200px;
    max-height: 200px; */
}

.action-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.action-btn img{
    object-fit: contain;
    width: 30%;
    height: 60%;
}

.action-btn p{
    margin: 2% 0;
    padding: 0%;
    font-size: 1.1rem;
}

#chef-config{
    display: none;
    padding: 0;
    margin: 0;
    height: fit-content;
    width: fit-content;
    position: fixed;
    bottom: 7vh;
    right: 0;
    margin: 2%;
    border-radius: 50%;
    object-fit: contain;
    border: none;
    background-color: white;
    transition: .2s;
    width: 8vh;
    height: 8vh;
    background-image: url(../img/cv-config-red.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
/* ----------------------------------------------------- chef characteristics */
.right-chef-view-menu{
    width: calc(32% - 1px);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color5);
    align-items: center;
    height: 90vh;
    margin-top: 10vh;
    max-width: 404px;
    min-width: 404px;
    justify-content: center;
}

.chef-char{
    background-size: contain;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.char-template{
    width: 94%;
    border-radius: 20px;
    overflow: visible;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-pic{
    position: relative;
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    margin: 0;
    padding: 1%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.271);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 5%;
    min-width: 247px;
    min-height: 252px;
}
.profile-pic-img{
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.followers{
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: -11%;
    display: flex;
}
.followers img{
    width: 2.8vh;
    height: 2.8vh;
}
.followers p{
    margin: 0;
    font-size: 1.5rem;
    color: var(--color5);
}
.profile-chars{
    padding-top: 5%;
    width: 100%;
    height: fit-content;
    color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: .2s;
    max-width: 500px;
}

.profile-chars p{
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1%;
    display: flex;
    align-items: center;
}
#chef-name{
    color: var(--color5);
    font-size: 2rem;
    margin: 0%;
}
.profile-chars p img{
    width: 2.5vh;
    height: 2.5vh;
}
.summary-info{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    width: 88%;
    padding: 2% 0;
    border-bottom: 1px solid;
}
.summary-info article{
    width: 50%;
    margin: 1%;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.summary-info article span{
    width: 2.2vh;
    height: 2.2vh;
    margin-right: 2%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 20px;
    min-height: 20px;
}
.summary-info article:first-child span{
    background-image: url(../img/hico-star-red.png);
}
.summary-info article:last-child span{
    background-image: url(../img/rhico-chef-red.png);
}
.chef-social-media{
    display: flex;
    padding: 0;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
}

.chef-social-media a{
    width: 3rem;
    height: 3rem;
}
.chef-social-media a img{
    width: 100%;
    height: 100%;
}
.verified{
    position: absolute;
    width: 6vh;
    height: 6vh;
    display: flex;
    top: 5%;
    right: 5%;
}
#profile-edit{
    position: absolute;
    background-color: transparent;
    border: none;
    width: 6vh;
    height: 6vh;
    bottom: 5%;
    right: 5%;
    margin: 0%;
    transition: .2s;
    background-image: url(../img/chef-edit.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: var(--color5);
    z-index: 2;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.235);
}

#profile-edit:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-image: url(../img/chef-edit-red.png);
    background-color: white;
    transform: rotate(360deg);
}
/* ---------------------------------------------------- Editable Recipe Styles */

.edit-recipe-container{
    margin-top: 8vh;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start;
    justify-content: center;
    height: 92vh;
    overflow-y: scroll;
    background-size: contain;
    
}
.edit-recipe-container::-webkit-scrollbar {
    width: .6em;
    background-color: #ff8583;
    border-radius: 20px;
}

.edit-recipe-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.edit-recipe-container::-webkit-scrollbar-thumb {
    background-color: var(--color5);
    border-radius: 20px;
    width: .6em;
}

.editable-recipe{
    margin: 1%;
}

/* .editable-recipe:hover{
    transform: scale(1.05);
} */

.edit-template{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background-image: url(../img/chef-edit.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ff2d29;
    margin: 5px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    z-index: 3;
    transition: .2s;
}
.private-template{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background-image: url(../img/privateRecipe.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    margin: 5px;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 22%;
    border-radius: 50%;
    z-index: 3;
    transition: .2s;
}

.edit-template:hover{
    background-image: url(../img/chef-edit-red.png);
    cursor: pointer;
    background-color: white;
    transform: rotate(360deg); 
}
.categoriasOpen{
    margin-top:2vh;
}
#categorias{
    display:none;
}

#notFoundRecipes{
    width: 100%;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #FFB5B5;
    margin: 9% 0 0 0;
}
#notFoundRecipes img{
    width: 25vh;
    height: 25vh;
}
#follow-button{
    width: 77%;
    height: 5vh;
    border: none;
    background: #ff2c29;
    color: white;
    font-size: 1.2em;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px #ff2c295c;
    cursor: pointer;
}
#followUnloged{
    width: 77%;
    height: 5vh;
    border: none;
    background: #ff2c29;
    color: white;
    font-size: 1.2em;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px #ff2c295c;
    cursor: pointer;
}
#unlogedFollowSect{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.349);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    z-index: 10;
    transition: .3s;
}

#unlogedFollowDiv{
    width: 45%;
    height: 25vh;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
   text-align: center;
   border-radius: 15px;
}

#unlogedFollowDiv h4{
    width: 100%;
    padding: 2vh 0;
    background-color: #FF2C29;
    color: white;
    font-size: 1.2em;
}

#logRedirect{
    width: 60%;
    height: 5vh;
    border: none;
    background: #ff2c29;
    color: white;
    font-size: 1.2em;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px #ff2c295c;
    cursor: pointer;
}

#close-UnlogedFollow{
    position: fixed;
    background-color: transparent;
    border: none;
    width: 6vh;
    height: 6vh;
    top: 12vh;
    right: 5vh;
    margin: 0%;
    transition: .2s;
    background-image: url(../img/closeUpdateInfo.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: var(--color5);
    z-index: 2;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.235);
    cursor: pointer;
}

/* ................... Responsive .............. */

@media (max-width: 1230px) {
    .recipe-template{
        width: 40%;
    }.nav-bar-container{
        width: 40%;
    }
}

@media (max-width: 970px) {
    #categorias{
        display:none;
        padding: 6px 3vh;
        position:relative;
        top:-10vh;
    }
    .categorias-down-desplegable{
        top: -2%;
    }
    .subcategories-down{
        display:none;
    }
    .action-btn{
        width: 8vh;
        height: 8vh;
        margin: 2%;
        border-radius: 50%;
        justify-content: center;
        padding: 0;
    }
    .action-btn img{
        width: 50%;
        height: 50%;
    }
    .action-btn p{
        display: none;
    }
    .chef-view-container{
        flex-wrap: wrap;
    }
    .right-chef-view-menu{
        border: none;
        width: 100%;
        height: 50vh;
        margin-top: 8vh;
        max-width: none;
        min-width: none;
    }
    .chef-char{
        width: 100%;
        height: 100%;
    }
    .char-template{
        width: 100%;
        height: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .profile-chars{
        position: relative;
        height: 90%;
        width: 50%;
        background: transparent;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
        padding: 0;
    }
    #chef-name{
        width: 100%;
        justify-content: center;
    }
    .chef-social-media{
        justify-content: center;
        margin: 0;
    }.chef-social-media a{
        margin: 2%;
        width: 3.5rem;
        height: 3.5rem;
    }
    .profile-pic{
        width: 35vh;
        height: 35vh;
    }
    .followers{
        bottom: 5%;
        background-color: white;
        border-radius: 30px;
        padding: 1% 4%;
    }
    .profile-chars h2{
        color: var(--color5);
        margin: 0;
    }
    .profile-chars p{
        text-align: center;
        padding: 0;
        margin: 1%;
        padding: 2%;
        color: var(--color5);
    }
    .summary-info{
        order: unset;
        flex-direction: row;
        width: 90%;
        padding: 0;
        justify-content: center;
    }
    .summary-info article{
        width: 40%;
    }
    .summary-info article span{
        width: 3.2vh;
        height: 3.2vh;
    }
    .summary-info article p{
        font-size: 1.3rem;
        width: max-content;
    }
    .description{
        text-align: start;
        margin: 0;
        width: 95%!important;
        font-size: 1.1rem;
        word-break:keep-all;
    }
    .edit-recipe-container{
        width: 100%;
        overflow: visible;
        height: fit-content;
        padding-bottom: 10vh;
    }
    .recipe-template{
        width: 45%;
    }
    #chef-config{
        display: flex;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.26);
    }
    .action-buttons-container{
        justify-content: center;
        position: fixed;
        right: 2%;
        height: 0%;
        width: 8vh;
        bottom: calc(10vh + 3%);
        /* overflow: hidden; */
        transition: .2s;
        bottom: 10vh;
        z-index: 5;
        background: none;
        border: none;
    }
    .showing-action-container{
        bottom: 18vh;
        height: 20vh;
    }
    .showing-action-container #chef-config{
        transform: rotate(360deg);
        background-image: url(../img/cv-config-white.png);
        background-color: var(--color5);
    }
    .action-buttons-container a{
        width: 0%;
        height: 0%;
        margin: 1% 0;
        transition: .2s;
    }
    .showing-action-container a{
        width: 8vh;
        height: 8vh;
    }
    .headerContainer div{
        width: 100%;
        padding: 0 2%;
    }
    .header_icons{
        position: fixed!important;
        bottom: 0!important;
        width: 100%!important;
        background-color: var(--color5)!important;
        height: 8vh!important;
        justify-content: center!important;
    }
    .header_logo{
        justify-content: flex-start;
    }
    .headlogo_text{
        text-transform: uppercase;
    }
    .headlogo_text h2{
        display: none;
    }
    .header_logreg{
        justify-content: flex-end;
    }
    #userlog{
        width: 6vh;
        height: 6vh;
    }
    #nav-menu-btn{
        margin: 3%;
    }.nav-bar-container{
        width: 100%;
    }.next-text-recipe img{
        width: 6vh;
        height: 6vh;
    }.categories-down{
        bottom: 8.5%;
        height: fit-content;
        flex-wrap: wrap;
    }
    .categoryDiv img{
        display: none;
    }
    .categoryDiv{
        width: 25%;
        margin-bottom: 1%;
    }
    #btnCategoriesShow{
        bottom: 30vh;
        right: 47%;
        z-index: 999999;
    }
}
@media (max-width: 690px) {
    .right-chef-view-menu{
        height: fit-content;
        min-width: 120px!important;
    }
    #unlogedFollowDiv{
        width: 100%;
    }
    .profile-chars{
        margin: 0;
        width: 70%;
        justify-content: center;
        align-items: center;
    }
    #chef-name{
        margin: 1% 0;
        font-size: 2.2rem;
    }
    .profile-pic{
        margin: 0;
        margin-top: 2%;
    }
    .summary-info{
        justify-content: center;
        border-radius: 20px;
        border: 1px solid var(--color5);
        width: 120%;
    }
    .summary-info article{
        width: 40%;
    }
    .summary-info article{
        justify-content: center;
    }
    .description{
        text-align: center!important;
        display: flex;
        justify-content: center;
    }
    .recipe-template{
        width: 90%;
    }
    .char-template{
        flex-direction: column;
    }
}
@media (max-width: 472px){
    .text-template{
        font-size: .90rem;
    }.next-text-recipe a p{
        font-size: .90rem;
    }
    .categoryDiv{
        width: 35%;
    }
    #btnCategoriesShow{
        bottom: 36vh;
        right: 44%;
    }
}
@media (max-width: 430px){
    .summary-info article p{
        font-size: 1rem;
    }
    #btnCategoriesShow{
        bottom: 70vh;
    }
    .description{
        font-size: .9rem;
    }
    .chef-social-media a img{
        object-fit: contain;
    }
    .Darkindice{
        width: 65%;
        margin-bottom: 5%;
    }
    .categories-down{
        height: fit-content;
    }
    #title-ctc{
        font-size: 1.5em;
    }
}
@media (max-width: 280px){
    #title-ctc{
        font-size: 1.5em;
    }
}
@media (max-height: 783px){
    .action-buttons-container{
        flex-direction: row;
        justify-content: center;
    }
    .action-btn{
        width: 30%;
        margin: 1%;
        height: 50%;
    }
    .action-btn img{
        width: 50%;
        height: 50%;
    }
}
@media (max-height: 783px) and (max-width: 970px){
    .profile-pic{
        margin-bottom: 0!important;
        margin: 8% 0;
    }
}

@media (max-height: 700px){
    .action-btn{
        width: 8vh;
        height: 8vh;
        margin: 2%;
        border-radius: 50%;
        justify-content: center;
        padding: 0;
    }
    #unlogedFollowDiv{
        height: 35vh;
    }
    #logRedirect{
        height:7vh;
    }
    .action-btn img{
        width: 50%;
        height: 50%;
    }
    .action-btn p{
        display: none;
    }
    .action-btn:hover{
        transform: scale(1.1);
        cursor: pointer;
        width: 50%;
        border-radius: 20px;
    }
    .action-btn:hover p{
        display: flex;
    }
    .action-btn:hover img{
        width: 20%;
    }
    .chef-social-media{
        margin-bottom: 0;
    }
    .chef-social-media{
        margin-bottom: 0;
    }
}
@media (min-width:971px) and (max-height:672px){
    #chef-config{
        bottom: 0;
        display: flex;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.26);
    }
    .action-buttons-container{
        justify-content: center;
        position: fixed;
        right: 2%;
        height: 0%;
        width: 8vh;
        bottom: calc(10vh + 3%);
        /* overflow: hidden; */
        transition: .2s;
        bottom: 10vh;
        z-index: 5;
        background: none;
        border: none;
    }
    .showing-action-container{
        bottom: 12vh;
        height: 20vh;
    }
    .showing-action-container #chef-config{
        transform: rotate(360deg);
        background-image: url(../img/cv-config-white.png);
        background-color: var(--color5);
    }
    .action-buttons-container a{
        width: 0%;
        height: 0%;
        margin: 1% 0;
        transition: .2s;
    }
    .showing-action-container a{
        width: 8vh;
        height: 8vh;
    }
    .followers{
        bottom: 5%;
        background-color: white;
        border-radius: 30px;
        padding: 1% 4%;
    }
    #chef-config{
        width: 60vh;
        border-radius: 20px;
        background-size: 10%;
        background-position-x: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .showing-action-container .action-btn:hover{
        width: inherit;
        background-size: 70%;
        border-radius: 50%;
    }
    .showing-action-container .action-btn:hover img{
        width: 60%;
        height: 60%;
    }
    .showing-action-container .action-btn:hover p{
        display: none;
    }
    .showing-action-container #chef-config{
        width: inherit;
        border-radius: 50%;    
        background-size: 70%;
        background-position-x: center;
        transform: none!important;
    }
    .showing-action-container #chef-config::after{
        content: "";
    }
    #chef-config::after{
        content: "Configuración";
        position: absolute;
        top: auto;
        left: auto;
        color: var(--color5);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2em;
    }
}