/*--Dark mode--*/
.DarkModeBody{
    background-color: #100f0f;
}
.DarkStar{
    background-color: #100f0f;
}
.Darkrecipe{
    color: white;
}
.Darkcookie{
    filter: brightness(0.3);
}
/*--White mode--*/
.White{
    background-color: white;
}
.WhiteStar{
    background-color: white;
}
.Whiterecipe{
    color: black;
}
.Whitecookie{
    filter: brightness(1);
}
