/*----Dark mode----*/
.DarkModeBody{
    background-color: #100f0f;
}
.DarkModeP{
    color: white;
}
.DarkModeCategories{
    background-color: rgba(0, 0, 0, 0);
}
.DarkModesubCategories{
    background-color: rgba(0, 0, 0, 0);
}
.DarkStar{
    background-color: #100f0f;
}
.Darkindice{
    background-color: #100f0f;
    border: 1px solid #ffffff;
    color:white;
}
/*----White mode-----*/
.White{
    background-color: white;
}
.WhiteModeP{
    color: black;
}
.WhiteModeCategories{
    background-color: rgb(255, 255, 255);
}
.WhiteStar{
    background-color: white;
}
.WhiteModesubCategories{
    background-color: rgb(255, 255, 255);
}
.Whiteindice{
    background-color: white;
    border: 1px solid #FF2C29;
    color: #FF2C29;
}