/*  ----------------------------------------------------------------------------------------------------- PRECONFIGS */

:root {
  --color1: #ffbe26;
  --color2: #e08c1d;
  --color3: #f56a14;
  --color4: #e03d14;
  --color5: #ff2c29;
}

#recipe_section{
  width: 100%;
}

.recipe_container {
  margin: auto;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  max-width: 2200px;
}
.makefs-media-player{
  margin: .8% 2.5%;
  width: 95%;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-height: 1500px;
  background-color: rgb(22, 22, 22);
  background-image: url(../img/food-pattern-white.png);
  background-attachment: fixed;
  background-size: 30%;
  position: relative;
}
.makefs-media-player video{
  width: 100%;
  height: 100%;
}

.makefs-video-controls{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}
.in-panel-video{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  z-index: 2;
}
.makefs-video-in-panel-video{
  width: 25%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.247);
  padding: 0;
  margin: 0;
  position: relative;
}
.makefs-video-in-panel-video:nth-child(2){
  width: 50%;
}
.makefs-video-in-panel-video::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  transition: .3s;
  opacity: 70%;
}
.makefs-video-in-panel-video:first-child:after{
  transform: rotate(180deg);
}
.makefs-video-in-panel-played::after{
  background-image: url(../img/rvico-play.png);
  animation: play-pause-animation .5s infinite;
}
.makefs-video-in-panel-paused::after{
  background-image: url(../img/rvico-pause.png);
  animation: play-pause-animation .5s infinite;
}


.makefs-video-in-panel-action::after{
  animation: animate-play-button .5s infinite;
  animation-duration: infinite;
  background-image: url(../img/rvico-arrow.png);
}

.makefs-video-progress{
  width: 98%;
  margin: 0 1%;
  margin-bottom: 2%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: .5vh;
}
.makefs-video-progress:hover{
  height: 1vh;
  margin-bottom: calc(2% - 0.25vh);
}
.makefs-video-progress progress{
  width: 100%;
  border-radius: 0;
  height: 100%;
}
.makefs-video-progress progress{
  transition: .2s;
}
#mkfs_video_progress_select{
  width: 100%;
  border-radius: 0;
  height: .5vh;
  position: absolute;
}
.makefs-video-progress progress::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.61);
  backdrop-filter: blur(2px);
}
.makefs-video-progress progress::-webkit-progress-value {
  background: var(--color5);
}
.makefs-video-control-button{
  width: 3vh;
  height: 3vh;
  background-color: white;
  border-radius: 50%;
  margin: .2% 1%;
  border: none;
}

/* Video Animations */

@keyframes animate-play-button{
  0%{
    background-size: 20%;
  }
  50%{
    background-size: 40%;
  }
  100%{
    background-size: 20%;
  }
}
@keyframes play-pause-animation{
  0%{
    background-size: 30%;
  }
  /* 50%{
    background-size: 32%;
  } */
  100%{
    background-size: 20%;
  }
}