/*  ----------------------------------------------------------------------------------------------------- PRECONFIGS */

:root {
  --color1: #ffbe26;
  --color2: #e08c1d;
  --color3: #f56a14;
  --color4: #e03d14;
  --color5: #ff2c29;
}

#recipe_section{
  width: 100%;
}

.recipe_container {
  margin: auto;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  max-width: 2200px;
}
.makefs-media-player{
  margin: .8% 2.5%;
  width: 95%;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-height: 1500px;
  background-color: rgb(22, 22, 22);
  background-image: url(../img/food-pattern-white.png);
  background-attachment: fixed;
  background-size: 30%;
  position: relative;
  display: flex;
}
.makefs-media-player video{
  width: 100%;
  height: 100%;
}

.makefs-video-controls{
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 2%, rgb(0 0 0 / 69%) 95%);
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  transition: .3s;
  justify-content: space-between;
  padding-top: .2%;
}
.makefs-video-controls:hover{
  opacity: 100%;
}
.controls-hidden{
  opacity: 0;
}
.controls-showing{
  opacity: 100%;
}
.first-play{
  display: none;
  opacity: 0;
}
#first-play-btn{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/rvico-play.png);
  background-size: 20vh;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  border: none;
  opacity: 100%;
  transition: background-size .2s;
  background-color: #000000b0;
}
#first-play-btn:hover{
  cursor: pointer;
  background-size: 25vh;
}
.in-panel-video{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  z-index: 2;
}
.makefs-video-in-panel-video{
  width: 25%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.makefs-video-in-panel-video:nth-child(2){
  width: 50%;
}
.makefs-video-in-panel-video::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  transition: .3s;
}
.makefs-video-in-panel-video:first-child:after{
  transform: rotate(180deg);
}
.makefs-video-in-panel-video:nth-child(2):after{
  background-size: 2%;
}
.makefs-video-in-panel-played::after{
  background-image: url(../img/rvico-play.png);
  animation: play-pause-animation .18s infinite alternate-reverse;
}
.makefs-video-in-panel-paused::after{
  background-image: url(../img/rvico-pause.png);
  animation: play-pause-animation .18s infinite alternate-reverse;
}


.makefs-video-in-panel-action::after{
  animation: animate-play-button .5s infinite;
  animation-duration: infinite;
  background-image: url(../img/rvico-arrow.png);
}

.makefs-video-progress{
  width: 99%;
  margin: 0 1%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: .5vh;
  transition: .1s;
}
.makefs-video-progress:hover{
  /* height: .8vh; */
  /* margin-bottom: calc(2% - 0.25vh); */
  cursor: pointer;
}
.makefs-video-progress progress{
  width: 100%;
  border-radius: 0;
  height: 100%;
  transition: .2s;
  position: relative;
}
#mkfs_video_progress_select{
  width: 100%;
  border-radius: 0;
  height: .5vh;
  position: absolute;
}
.makefs-video-progress progress::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.61);
  backdrop-filter: blur(2px);
}
.makefs-video-progress progress::-webkit-progress-value {
  background: var(--color5);
}
.mkfs_video_dragable_ball, .mkfs_video_dragable_representation{
  width: 1.2vh;
  height: 1.2vh;
  border-radius: 50%;
  background-color: var(--color5);
  position: absolute;
  top: auto;
  padding: 0;
  margin: 0;
}
.mkfs_video_dragable_representation{
  z-index: 1;
  transition: opacity .2s;
}
.mkfs_ball_static{
  opacity: 0;
}
.mkfs_ball_dragging{
  opacity: 1;
}
.mkfs_video_dragable_ball{
  opacity: 0;
  z-index: 2;
  cursor: move;
}
.makefs-video-progress:hover .mkfs_video_dragable_representation{
  opacity: 1;
}
#progress-bar-time-read{
  display: none;
  opacity: 0%;
  position: absolute;
  padding: 1vh;
  border-radius: 30px;
  background-color: var(--color5);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.13);
  color:white;
}
.makefs-video-control-button{
  width: 3vh;
  height: 3vh;
  margin: .2% 1%;
  border: none;
  background-color: transparent;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: .2s;
  filter: brightness(95%);
}
.makefs-video-control-button:hover{
  cursor: pointer;
  filter: brightness(110%);
}

.loading-obj{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: auto;
  left: auto;
  width: 13vh;
  height: 13vh;
  z-index: 10;
  border-radius: 50%;
  border: 1.5vh solid rgb(0 0 0 / 68%);
  box-shadow: 0px 0px 20px 0px #00000061;
  background: #00000036;
  transition: .2s;
  border-right-color: white;
  animation: .97s loading-animation infinite;
}

.loading-obj::after{
  content: '';
  background-image: url(../img/rhico-chef-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  width: 50%;
  height: 50%;
}

.first-controls, .last-controls{
  display: flex;
  align-items: center;
  width: 49%;
}
.first-controls{
  margin-left: 1%;
}
.last-controls{
  justify-content: flex-end;
  color: white;
  margin-right: 1%;
}
#time-counter{
  font-size: 1.4em;
  margin: 2% 1%;
}

/* Config styles */

.config-options{
  display: none;
  background: #000000bd;
  backdrop-filter: blur(3px);
  width: 30%;
  position: absolute;
  height: fit-content;
  max-width: 330px;
}
.makefs-video-config-menu{
  display: flex;
  flex-direction: column;
  padding: 2% 0;
}
.makefs-video-config-menu button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.8em;
  height: 4vh;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0% 4%;
  border-bottom: 1px solid #ffffff14;
  padding-left: 4vh;
  background-size: 2.2vh;
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-position-y: center;
  transition: .2s;
}
.makefs-video-config-menu button:hover{
  cursor: pointer;
}
.makefs-video-config-menu button:last-child{
  border-bottom: none;
}
.makefs-video-config-menu button p{
  width: fit-content;
}
#speedrate p:last-child{
  font-weight: bold;
}
.config-controllers-slidable{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 13%;
  height: 1.2vh;
  border-radius: 30px;
  background: #ffffffbf;
  backdrop-filter: blur(3px);
  padding: 0;
  margin: 0;
}
.slidable-switch{
  position: absolute;
  left: -1.5%;
  width: 1.6vh;
  height: 1.6vh;
  border-radius: 50%;
  background: var(--color5);
  transition: .2s;
}

#speedrate-options button{
  padding: 0;
  justify-content: center;
}
#makefs-video-controls-speedrate-back{
  background-image: url(../img/video-controls/back.png);
}

#config-controllers-slidable-steps{
  left: calc(100% - 1.6vh);
}
/* Config controls icons */
#makefs-video-controls-steps{
  background-image: url(../img/video-controls/steps.png);
}
#makefs-video-controls-bucle{
  background-image: url(../img/video-controls/bucle.png);
}
#makefs-video-controls-speedrate{
  background-image: url(../img/video-controls/speedrate.png);
}

/* Speedrate menu */
#speedrate-options{
  display: none;
}

/* Background - icons */
#mkfv_controlls_play{
  background-image: url(../img/video-controls/pause.png);
}
#mkfv_controlls_mute{
  background-image: url(../img/video-controls/volume.png);
}
#mkfv_controlls_config{
  background-image: url(../img/video-controls/config.png);
}
#mkfv_controlls_fullscreen{
  background-image: url(../img/video-controls/full-screen.png);
}

/* Styling RANGE INPUT */
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

#mkfv_controlls_volume::-webkit-slider-thumb,
#mkfv_controlls_volume::-moz-range-thumb,
#mkfv_controlls_volume::-ms-thumb{
  border-radius: 50%;
  height: 2vh;
  background-color: red;
}
#mkfv_controlls_volume::-webkit-slider-thumb{
  margin-top: -9px;
}

#mkfv_controlls_volume::-webkit-slider-runnable-track,
#mkfv_controlls_volume::-moz-range-track,
#mkfv_controlls_volume::-ms-track{
  width: 100%;
  height: 1.2vh;
  background-color: white;
}

#mkfv_controlls_volume:focus::-webkit-slider-runnable-track {
  outline: none;
}


/* Video Animations */
@keyframes loading-animation {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}


@keyframes animate-play-button{
  0%{
    background-size: 20%;
    opacity: 90%;
  }
  50%{
    background-size: 40%;
    opacity: 50%;
  }
  100%{
    background-size: 20%;
    opacity: 0%;
  }
}
@keyframes play-pause-animation{
  0%{
    background-size: 20%;
    opacity: 100%;
  }
  /* 50%{
    background-size: 32%;
  } */
  100%{
    background-size: 30%;
    opacity: 30%;
  }
}

@keyframes config-button {
  0%{
    background-color: #ffffff45;
  }
  100%{
    background-color: transparent;
  }
}