body::-webkit-scrollbar{
  width: 10px;
  background:#d6ccc9;
}

body::-webkit-scrollbar-thumb{
  background: rgba(224, 18, 18, 0.596);
  border-radius: 10px;
  border-right: 2px solid #494545be;
}

.container {
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden !important;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 90px;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #B5B5B5;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #B5B5B5;
  line-height: 50px;
  padding: 0px;
  margin: 0px;
}
h2 a {
  color: #B5B5B5;
  text-decoration: none;
  border-bottom: 5px solid #B5B5B5;
  margin: 0;
  padding: 0;
}
h2 a span {
  letter-spacing: 0px !important;
  padding-right: 3px;
}
h2 a:hover {
  color: #808080;
  border-bottom: 5px solid #808080;
}

#scene ul {
  width: 100% !important;
  height: 100% !important;
  height: 100vh !important;
  overflow: hidden;
  position: relative;
}

.text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  z-index: 3;
  display: block;
}


/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.footerM{
width: 100%;
position: absolute;
bottom: 0;
text-align: center;
justify-content: center;
}
.footerM h1{
  font-size: 20px;
  letter-spacing: 1px;
}
.footerM h2{
  font-size: 20px;
  letter-spacing: 1px;
}
.divBackCont{
  position: absolute;
  width: 100%;
  z-index: 9999;
  height: 4vh;
  top: 8vh;
}
.divBackCont a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divBackCont a img{
  margin: 0 2% 0 0;
  height: 4vh;
}
.divBackCont a h1{
  text-decoration: none;
  font-size: 2em;
  color: #FF2C29;
  letter-spacing: 6px;
}
@media(max-width:600px){
  #particles-js{
    display: none;
  }
  .divBackCont a img{
    display: none;
  }
  .text h1{
    font-family: sans-serif;
    font-size: 3em;
    text-shadow: none;
    color: black;
  }
  .text h2{
    display: none;
  }
  .footerM{
    color:black;
  }
  .footerM div h1{
    color: black;
  }
  .footerM div h2{
    color: black;
  }
}