/*  ----------------------------------------------------------------------------------------------------- PRECONFIGS */

:root{
    --color1: #FFBE26;
    --color2: #E08C1D;
    --color3: #F56A14;
    --color4: #E03D14;
    --color5: #FF2C29;
}

body{
    font-family: sans-serif;
}

section{
    margin: auto;
    max-width: none;
}

.makefsContainer{
    padding: 0;
    height: 100%;
    max-width: 2000px;
    margin: auto;
}

/* --------------------------------------------------------------------------------------------------------- HEADER  */

header{
    position: fixed;
    width: 100%;
    background-color: var(--color5);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    top: 0;
}

.headerContainer{
    display: flex;
    color: white;
}
.headerContainer div{
    width: 100%;
    height: 100%;
    word-break: break-all;
    text-align: center;
}
.infoUser{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-right: 5%;
}

/* ----------------------------------------------------------------------------------- FIRST HEADER DIV - BUTTON ICONS */

.header_icons{
    display: flex;
    align-items: center;
}

.headicons_ico{
    width: 35px;
    height: 35px;
    overflow: hidden;
    margin: 3%;
}

.headicons_ico:first-child:hover{
    cursor: pointer;
}

.headicons_ico img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* SECOND HEADER DIV - CENTRAL LOGO*/

.header_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo article{
    margin: 0 2%;
    padding: 0;
}
.header_logo article h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
}
#nav-menu-btn{
    margin: 0 3%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    position: relative;
    overflow: hidden;
}

.nav-btn-bar{
    width: 100%;
    height: 20%;
    padding: 0;
    background-color: white;
    margin: 5% 0;
    transition: .2s;
}

.displayedBar .nav-btn-bar:first-child{
    position: absolute;
    top: 25%;
    transform: rotate(45deg);
}

.displayedBar .nav-btn-bar:nth-child(2){
    position: absolute;
    opacity: 0%;
    left: -100%;
}
.displayedBar .nav-btn-bar:last-child{
    position: absolute;
    transform: rotate(-45deg);
    top: 25%;
}

.header_logo article h2{
    font-size: .92em;
    margin: 0;
    padding: 0;
}

.header_logo img{
    max-width: 78px;
    max-height: 78px;
    width: 8vh;
    height: 8vh;
    object-fit: cover;
    border-radius: 50%;
}

/* ------------------------------------------------------------------- THIRD HEADER DIV - REGISTER AND LOGIN BUTTONS */



.header_logreg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#user_selection{
    display: flex;
    height: fit-content;
    padding: 0;
    background-color: var(--color5);
    position: absolute;
    top: 110%;
    right: 0.2%;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    transition: .2s;
    border: 2px solid var(--color5);
    display: none;
}

#user_selection::before{
    width: 20px;
    height: 10px;
    position: absolute;
    top: -11px;
    right: 10%;
    content: '';
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: var(--color5);
}
.userSelectClose{
    opacity: 0;
    right: 0%;
    display: none;
}

.userSelectOpen{
    opacity: 100%;
    right: 0;
}

.headlog_btn{
    margin: 2% 0;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    height: fit-content;
    color: white;
    transition: .2s;
    justify-content: flex-start;
    padding: 5% 5%;
}

.headlog_btn:hover{
    background-color: rgb(56, 52, 52);
    cursor:pointer;
}

.first{
    left: 20px;
}


.headlog_btn form input{
    color: inherit;
    position: absolute;
    text-align: left;
    left: 35%;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    width: 100%;
}
.headlog form{
    width:100%;
    height:1vh;
}
.headlog_btn img{
    height: 5vh;
    width: 5vh;
    object-fit: contain;
    filter: invert(1);
}
.headlog_btn p{
    width: 100%;
}


#userlog{
    width: 15%;
    height: 80%;
    border-radius: 50%;
    transition: .2s;
    transform: scale(1);
}

#userlog:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#userlog img{
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    object-fit: cover;
    position: absolute;
    right: 0;
    margin-right: 11%;
    box-shadow: 0 0 10px 0px #00000069;
}
#profileImg{
    filter:invert(0);
}

#cerrarstyle a{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}
#cerrarstyle img{
    margin: 0;
}
#cerrarstyle input{
    width: 100%;
    height: 100%;
    color: white;
    background: #f0f8ff00;
    border: none;
}
#cerrarstyle input:hover{
    cursor:pointer;
}

/* INSIDE HEADER */
.userMiniInfo{
    display: flex;
    align-items: center;
    margin: 0;
    height: fit-content !important;
    border-bottom: white 2px solid;
    padding: 5% 0!important;
}
.infoUser h6{
    font-size: 1em;
    margin: 0;
}
.infoUser p{
    font-size: .8em;
    margin: 0;
}
.userMiniInfo img{
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    object-fit: cover;
}
/*------Responsive------*/
@media (max-width:1571px){
    #user_selection{
        width: 55%;
    }
    #userlog{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #userlog img{
        position: absolute;
        right: 0;
    }
}
@media (max-width:1269px){
    #user_selection{
        width: 65%;
    }
}
@media (max-width:1071px){
    #user_selection{
        width: 30vw;
    }
}
@media (width:1024px) and (height:1366px){
    #user_selection{
            width: 115%;
    }
    .infoUser{
        font-size:2em;
    }
    .headlog_btn form input{
        font-size:1.5em;
    }
    #userlog img{
        right: 20px;
    }
}
@media (width:1024px) and (height:600px){
    #user_selection{
        width: 85%;
    }
    header{
        height:11vh;
    }
}
@media (max-width:970px){
    #menuCATE-DESP{
        top: -8%;
        display:none;
    }
}
@media (max-width:780px){
    #user_selection{
        width: 50vw;
    }
}
@media (max-width:720px){
    #user_selection{
        width: 50vw;
    }
}
@media (max-width:620px){
    #user_selection{
        width: 50vw;
    }
    #userlog{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #userlog img{
        margin-right: 0;
    }
}
@media (max-width:530px){
    #user_selection{
        width: 55vw;
    }
}
@media (max-width:510px){
    #user_selection{
        width: 50vw;
        right: 5.2%;
    }
    #userlog img{
        right: 15px;
    }
}
@media (max-width:415px){
    #user_selection{
        width: 88vw;
        right: 8px;
    }
}
@media (max-width:402px){
    #user_selection{
        width: 88vw;
        right: 17.2%;
    }
    #userlog img{
        right: 11px;
    }
}
@media (max-width:370px){
    #user_selection{
        width: 88vw;
        right: 0;
    }
    #userlog img{
        right: 0%;
    }
}
@media (max-width:335px){
    #user_selection{
        width: 88vw;
    }
    #userlog img{
        width: 100%;
        right: 0px;
    }
}
@media (max-width:285px){
    #user_selection{
        width: 88vw;
    }
    #userlog img{
        right: 0px;
    }
    #user_selection::before{
        right: 6%;
    }
}

    



/* ----------------------------------------------------------------------------------  NAV-BAR || SEARCH BAR   */
.savewhite{
    display:none;
    position:relative;
    top: 0.5vh;
    left: 8vh;
    height: 4.5vh;
}
.homewhite{
    display:none;
    position:relative;
    top: 0vh;
    left: -22vh;
    height: 4.5vh;
}

.searchNav{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 5% 0;
    background-color: white;
}

.searchNav input{
    height: 35px;
    width: 80%;
    border-radius: 30px;
    border: 2px solid var(--color5);
    color: var(--color5);
    text-align: center;
    transition: .2s;
}

.searchNav input:hover{
    cursor:text;
    background-color: var(--color5);
    color: white;
}
.searchNav input:focus{
    outline: none;
    border-color: var(--color5);
}

.searchNav input::placeholder{
    color: inherit;
}

.searchNav button{
    background-color: white;
    transition: .2s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: 2px solid black;
    background-image: url(../img/nav-lup-s.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(0);
    border-color: var(--color5);
}

.searchNav button:hover{
    filter: invert(1);
    border-color: rgb(41, 240, 203);
    background-color: #17f7ce;
    background-image: url(../img/nav-lup-d.png);
    cursor: pointer;
}
.nav-bar-container{
    transition: .2s;
    height: 92vh;
    top: 8vh;
    width: 30%;
    position: fixed;
    z-index: 25;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 0 20px 20px rgb(0 0 0 / 8%);
}

#nav-bar{
    transition: .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 0 20px 20px rgb(0 0 0 / 8%);
    z-index: 20;
}

#nav-bar ul{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: inherit;
}

#nav-bar ul li{
    transition: .2s;
    width: 95%;
    list-style: none;
    margin: 1% 0;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-transform: uppercase;
    color: var(--color5);
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--color5);
}

#nav-bar ul li:hover{
    background-color: var(--color5);
    color: whitesmoke;
    cursor: pointer;
}

.nav-bar-hidden{
    left: -100%;
    opacity: 0;
}

.nav-bar-showing{
    left: 0;
    opacity: 100%;
}

.categories-down-desplegable{
    width: 90%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -2%;
    display: flex;
    opacity: 0;
    transition: .3s;
    padding-bottom: 2vh;
}

#returnBtnDesp{
    display: none;
}

.categoryDiv-desplegable{
    width: 45%;
    height: 90%;
    display: flex;
    color: #FF2C29;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background:white;
    cursor: pointer;
    border: 1px solid #FF2C29;   
}
#menuCate-DESP{
    display:none;
}
.categoriasOpen{
    cursor: pointer;
    height: 6vh;
    border: none;
    width: 100%;
    background: #FF2C29;
    color: white;
    font-size: 1.4em;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3vh;
    
}
.categoriasOpen img{
    border-style: none;
    width: 4vh;
    margin-left: 1em;
    transform: rotate(90deg);
    transition: .3s;
}
.categoriasOpen img:hover{
    transform: rotate(450deg);
}
.categoryDiv-desplegable a{
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #FF2C29;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    text-align: center;
}
.categoryDiv-desplegable img{
    width: 11vh;
    height: 8vh;
    bottom: 71%;
    object-fit: contain;
}
.dosCategorias-despegable{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnsMenuDesp{
    width: 100%;
    margin-top: 5%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btndesp{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.btndesp a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.btndesp img{
    width: 4vh;
}
.btndesp h3{
    margin: 0;
    padding: 0;
    text-transform: none;
    text-align: center;
    background-color: white;
    color: #FF2C29;
    width: 100%;
}
@media (max-width: 1230px) {
    .recipe-template{
        width: 40%;
    }.nav-bar-container{
        width: 40%;
    }
}

@media (max-width: 970px) {
    .categoriasOpen{
        position: relative;
        top: -16vh;
    }
    .header_logreg{
        width:20% !important;
    }
    .header_logo{
        width:80% !important;
    }
    .header_logo article h1{
        font-size: 1.2em;
    }
    .homewhite{
        display:flex;
    }
    .btndesp a{
        display:none;
    }
    .savewhite{
        display:flex;
    }
    #savered{
        display:none;
    }
    .btnsMenuDesp{
        margin: -21%;
    }
    .btnsMenuDesp h3{
        color:white;
    }
    .action-btn{
        width: 8vh;
        height: 8vh;
        margin: 2%;
        border-radius: 50%;
        justify-content: center;
        padding: 0;
    }
    .action-btn img{
        width: 50%;
        height: 50%;
    }
    .action-btn p{
        display: none;
    }
    .chef-view-container{
        flex-wrap: wrap;
    }
    .right-chef-view-menu{
        border: none;
        width: 100%;
        height: 50vh;
        margin-top: 8vh;
        max-width: none;
        min-width: none;
    }
    .chef-char{
        width: 100%;
        height: 100%;
    }
    .char-template{
        width: 100%;
        height: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .profile-chars{
        position: relative;
        height: 90%;
        width: 50%;
        background: transparent;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
        padding: 0;
    }
    #chef-name{
        width: 100%;
        justify-content: center;
    }
    .chef-social-media{
        justify-content: center;
        margin: 0;
    }.chef-social-media a{
        margin: 2%;
        width: 3.5rem;
        height: 3.5rem;
    }
    .profile-pic{
        width: 35vh;
        height: 35vh;
    }
    .followers{
        bottom: 5%;
        background-color: white;
        border-radius: 30px;
        padding: 1% 4%;
    }
    .profile-chars h2{
        color: var(--color5);
        margin: 0;
    }
    .profile-chars p{
        text-align: center;
        padding: 0;
        margin: 1%;
        padding: 2%;
        color: var(--color5);
    }
    .summary-info{
        order: unset;
        flex-direction: row;
        width: 90%;
        padding: 0;
        justify-content: center;
    }
    .summary-info article{
        width: 40%;
    }
    .summary-info article span{
        width: 3.2vh;
        height: 3.2vh;
    }
    .summary-info article p{
        font-size: 1.3rem;
        width: max-content;
    }
    .description{
        text-align: start;
        margin: 0;
        width: 95%!important;
        font-size: 1.1rem;
        word-break:keep-all;
    }
    .edit-recipe-container{
        width: 100%;
        overflow: visible;
        height: fit-content;
        padding-bottom: 10vh;
    }
    .recipe-template{
        width: 45%;
    }
    #chef-config{
        display: flex;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.26);
    }
    .action-buttons-container{
        justify-content: center;
        position: fixed;
        right: 2%;
        height: 0%;
        width: 8vh;
        bottom: calc(10vh + 3%);
        /* overflow: hidden; */
        transition: .2s;
        bottom: 10vh;
        z-index: 5;
        background: none;
        border: none;
    }
    .showing-action-container{
        bottom: 18vh;
        height: 20vh;
    }
    .showing-action-container #chef-config{
        transform: rotate(360deg);
        background-image: url(../img/cv-config-white.png);
        background-color: var(--color5);
    }
    .action-buttons-container a{
        width: 0%;
        height: 0%;
        margin: 1% 0;
        transition: .2s;
    }
    .showing-action-container a{
        width: 8vh;
        height: 8vh;
    }
    .headerContainer div{
        width: 100%;
        padding: 0 2%;
    }
    .header_icons{
        position: fixed!important;
        bottom: 0!important;
        width: 100%!important;
        background-color: var(--color5)!important;
        height: 8vh!important;
        justify-content: center!important;
    }
    .header_logo{
        justify-content: flex-start;
    }
    .headlogo_text{
        text-transform: uppercase;
    }
    .headlogo_text h2{
        display: none;
    }
    .header_logreg{
        justify-content: flex-end;
    }
    #userlog{
        width: 6vh;
        height: 6vh;
    }
    #nav-menu-btn{
        margin: 3%;
        position: relative;
        left: 3vh;
    }.nav-bar-container{
        width: 100%;
    }.next-text-recipe img{
        width: 6vh;
        height: 6vh;
    }
}
@media (max-width: 930px) {
    .btnsMenuDesp{
        margin: -21%;
    }
}

@media (max-width: 690px) {
    .homewhite{
        left: -21vh;
    }
    .right-chef-view-menu{
        height: fit-content;
        min-width: 120px!important;
    }
    .profile-chars{
        margin: 0;
        width: 70%;
        justify-content: center;
        align-items: center;
    }
    #chef-name{
        margin: 1% 0;
        font-size: 2.2rem;
    }
    .profile-pic{
        margin: 0;
        margin-top: 2%;
    }
    .summary-info{
        justify-content: center;
        border-radius: 20px;
        border: 1px solid var(--color5);
        width: 120%;
    }
    .summary-info article{
        width: 40%;
    }
    .summary-info article{
        justify-content: center;
    }
    .description{
        text-align: center!important;
        display: flex;
        justify-content: center;
    }
    .recipe-template{
        width: 90%;
    }
    .char-template{
        flex-direction: column;
    }
}
@media (max-width: 550px){
    .homewhite{
        left: -19vh;
    }
}
@media (max-width: 472px){
    .text-template{
        font-size: .90rem;
    }.next-text-recipe a p{
        font-size: .90rem;
    }
}
@media (max-width: 430px){
    .summary-info article p{
        font-size: 1rem;
    }
    .description{
        font-size: .9rem;
    }
    .chef-social-media a img{
        object-fit: contain;
    }
    .homewhite{
        left: -17vh;
    }
}
@media (max-height: 783px){
    .action-buttons-container{
        flex-direction: row;
        justify-content: center;
    }
    .action-btn{
        width: 30%;
        margin: 1%;
        height: 50%;
    }
    .action-btn img{
        width: 50%;
        height: 50%;
    }
}
@media (max-height: 783px) and (max-width: 970px){
    .profile-pic{
        margin-bottom: 0!important;
        margin: 8% 0;
    }
}

@media (max-height: 700px){
    .action-btn{
        width: 8vh;
        height: 8vh;
        margin: 2%;
        border-radius: 50%;
        justify-content: center;
        padding: 0;
    }
    .action-btn img{
        width: 50%;
        height: 50%;
    }
    .action-btn p{
        display: none;
    }
    .action-btn:hover{
        transform: scale(1.1);
        cursor: pointer;
        width: 50%;
        border-radius: 20px;
    }
    .action-btn:hover p{
        display: flex;
    }
    .action-btn:hover img{
        width: 20%;
    }
    .chef-social-media{
        margin-bottom: 0;
    }
    .chef-social-media{
        margin-bottom: 0;
    }
}
@media (max-height: 638px){
    #chef-config{
        bottom: 0;
        display: flex;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.26);
    }
    .action-buttons-container{
        justify-content: center;
        position: fixed;
        right: 2%;
        height: 0%;
        width: 8vh;
        bottom: calc(10vh + 3%);
        /* overflow: hidden; */
        transition: .2s;
        bottom: 10vh;
        z-index: 5;
        background: none;
        border: none;
    }
    .showing-action-container{
        bottom: 12vh;
        height: 20vh;
    }
    .showing-action-container #chef-config{
        transform: rotate(360deg);
        background-image: url(../img/cv-config-white.png);
        background-color: var(--color5);
    }
    .action-buttons-container a{
        width: 0%;
        height: 0%;
        margin: 1% 0;
        transition: .2s;
    }
    .showing-action-container a{
        width: 8vh;
        height: 8vh;
    }
    .followers{
        bottom: 5%;
        background-color: white;
        border-radius: 30px;
        padding: 1% 4%;
    }
}
@media (max-width:380px){
    #categorias{
        top: -8vh;
    }
}
@media (max-width:380px){
    .homewhite{
        left: -440%;
    }
}
@media (max-width:360px){
    .homewhite{
        left: -360%;
    }
    #menuCATE-DESP{
        top: -3vh;
    }
}
@media (width:360px) and (height:640px){
    .homewhite{
        left: -436%;
    }
}
@media (max-width: 320px){
    .homewhite{
        left: -448%;
    }
}
@media (max-width:280px){
    .homewhite{
        left: -415%;
    }
}
/*Responsive height*/
@media (max-height:820px){
    #menuCATE-DESP{
        top: -2vh;
    }
}
@media (max-height:760px){
    #menuCATE-DESP{
        top: -3vh;
    }
}
@media (max-height:660px){
    #menuCATE-DESP{
        top: -1vh;
    }
    .header_logo article h1{
        font-size: 1.5em;
    }
    .header_logo article h2{
        font-size: .80em;
    }
}

