:root{
    --color1: #FFBE26;
    --color2: #E08C1D;
    --color3: #F56A14;
    --color4: #E03D14;
    --color5: #FF2C29;
}
/*-----header edits-----*/
#header{
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 10vh;
}
.logocont{
    width: 50%;
    height: 8vh;
}
.logocont h1{
    margin: 5% 8%;
    padding: 0;
    font-size: 3.1em;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color5);
}
.titlecont{
    width: 50%;
    height: 8vh;
    margin-top: 5%;
}
.titlecont img{
    position: absolute;
    height: 8vh;
    border-radius: 50%;
    top: 3.2vh;
    right: 6%;
}
/*-----logo mid edits-----*/
#continfo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 86vh;
    top: 12vh;
}
.viewlogo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5% 3%;
    margin-right: 0;
    margin-left: 25vh;
    width: 47%;
    height: 75%;
    border-radius: 15px;
    background-color: var(--color5);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38);
    
}
.viewlogo h6{
    position: absolute;
    text-transform: lowercase;
    margin: 0;
    bottom: 4%;
    right: 4%;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    letter-spacing: 1px;
}
.viewlogo img{
    height: 70%;
    border-radius: 50%;
}
/*----form edits-----*/
.formcont{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 11%;
    width: 50% ;
    height: 100%;
}
.info-form{
    border-radius: 10px;
    height: 75%;
    width: 95%;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38);
    background-color: white;
}
