:root{
    --color1: #FFBE26;
    --color2: #E08C1D;
    --color3: #F56A14;
    --color4: #E03D14;
    --color5: #FF2C29;
}

body{
    font-family: sans-serif;
}

section{
    margin: auto;
    max-width: none;
}

.makefsContainer{
    padding: 0;
    height: 100%;
    max-width: 2000px;
    margin: auto;
    width: 100%;
}
/*---------------------------------------------------------newRecipeSection*/

#newRecipeSection{
    margin-top: 12vh;
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.containerNewRecipe{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}
#recipetittlediv{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnplus{
    width: 21%;
}
#uploadBtn{
    cursor: pointer;
    border: none;
    width: 15%;
    height: 6vh;
    background-image: url(../img/uploadRecipe.png);
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color5);
    transition: .3s;
    padding: 0;
    
}
#uploadBtn h2{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.472);
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    opacity: 0;
}

#uploadBtn h2:hover{
    opacity: 100%;
}

#uploadBtn:hover{
    box-shadow: 0px 0px 10px 1px var(--color5);
}
#recipetittlediv input{
    font-size: 1.5em;
    width:80%;
    height: 100%;
    border:none;
    text-align: center;
    border-bottom: var(--color5) 3px solid;
}
#recipetittlediv input::placeholder{
    text-align: center;
}
#recipetittlediv input:focus{
    outline: none;
}

#recipebodydiv{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#barraLateralNewRecipe{
    width: 30%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#barraLateralNewRecipe label{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ingredientsTittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menuIngredientesNewRecipe{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 20px 1px #c1070425;
    border-radius: 20px;
}
#menuIngredientesNewRecipe h2{
    width: 80%;
    height: 10%;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputsLateralesNewRecipe{
    width: 90%;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7%;
}
#inputsLateralesNewRecipe input{
    margin-bottom: 7%;
    width: 75%;
    padding: 5px;
    border: none;
    border-left: 2px #FF2C29 solid;
}

#inputsLateralesNewRecipe input:focus{
    outline: none;
    border-bottom: 2px #FF2C29 solid;
}
#inputsLateralesNewRecipe::-webkit-scrollbar{
    background-color: rgb(209, 209, 209);
    width: 5px;
    border-radius: 20px;
}
#inputsLateralesNewRecipe::-webkit-scrollbar-thumb{
    background-color: var(--color5);
    border-radius: 20px;
}
#etiquetasNewRecipe{
    margin-top: 5%;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 20px 1px #c1070425;
    border-radius: 20px;
}
#selectsEtiquetasNewRecipe{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
}
#selectsEtiquetasNewRecipe select{
    width: 75%;
    padding: 5px;
    margin-top: 5%;
    border: 1px solid #FF2C29;
}
#selectsEtiquetasNewRecipe select:focus{
    outline: none;
}

#selectsEtiquetasNewRecipe label{
    font-size: 1.2em;
    text-align: center;
    width: 75%;
    border-left: 2px #FF2C29 solid;
}
#eRegiones{
    margin:8% 0;
}

#selectsEtiquetasNewRecipe::-webkit-scrollbar{
    background-color: rgb(209, 209, 209);
    width: 5px;
    border-radius: 20px;
}
#selectsEtiquetasNewRecipe::-webkit-scrollbar-thumb{
    background-color: var(--color5);
    border-radius: 20px;
}

#sectionNewRecipeMultimedia{
    width: 60%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#multimediaNewRecipe{
    width:100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#multimediaNewRecipe img{
    width: 9vh;
}
.divMultimedia{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px #c1070425;
    border: 2px dashed #ff2c297a;
    text-align: center;
}
.divMultimedia label{
    cursor: pointer;
}
#stepsNewRecipe{
    margin-top: 5%;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.inputfileNewRecipe{
    opacity: 0;
}
#tittlePasos{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
#hatPasosyTxt{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#hatPasosyTxt img{
    width: 4vh;
}
#hatPasosyTxt h2{
    margin-left: 20%;
}
#inputsSteps{
    margin-top: 5%;
    width: 100%;
    height: 75%;
    overflow: auto;
}
.oneStepNewRecipe{
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
}
.oneStepNewRecipe input{
    padding: 5px;
    border:none;
    border-bottom: 2px solid #FF2C29;
}
.oneStepNewRecipe input:focus{
    outline: #FF2C29;
}
.stepTxtInput{
    width: 50%;
    margin-right: 5%;
   
}
.minInicioInput{
    width: 15%;
    margin-right: 5%;
    text-align: center;
}
.minFinInput{
    width: 15%;
    text-align: center;
}

#inputsSteps::-webkit-scrollbar{
    background-color: rgb(209, 209, 209);
    width: 5px;
}
#inputsSteps::-webkit-scrollbar-thumb{
    background-color: var(--color5);
}
#recipeImg{
    display: none;
}
#addIngredientBtn{
    cursor: pointer;
    border: none;
    width: 3.5vh;
    height: 3.5vh;
    background-image: url(../img/btnAddNewRecipeInput.png);
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: var(--color5);
}
#addEtiquetaBtn{
    cursor: pointer;
    border: none;
    width: 3.5vh;
    height: 3.5vh;
    background-image: url(../img/btnAddNewRecipeInput.png);
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: var(--color5);
}
#addStepBtn{
    margin-left: 5%;
    cursor: pointer;
    border: none;
    width: 3.5vh;
    height: 3.5vh;
    background-image: url(../img/btnAddNewRecipeInput.png);
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: black;
}
.lessInputBtn{
    margin-left: 5%;
    cursor: pointer;
    border: none;
    width: 3.5vh;
    height: 3.5vh;
    background-image: url(../img/lessBtn.png);
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #FF2C29;
    display: none;
}
#lessSteps{
    background-color: black;
}
#btnsSteps{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--Responsive--*/
@media (max-width:1450px){
    #ingredientsTittle{
        flex-direction: column;
    }
    .btnplus{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .lessInputBtn{
        margin-right: 1%;
    }
}
@media (max-width:1450px){
    #foodsTittle{
        flex-direction: column;
    }
    .btnplus{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .lessInputBtn{
        margin-right: 1%;
    }
}
@media (max-width:690px){
    #recipebodydiv{
        display: flex;
        flex-direction: column-reverse;
        margin: 35vh 0 0 0;
    }
    #barraLateralNewRecipe{
        padding: 0 0 10vh 0;
    }
    #sectionNewRecipeMultimedia{
        width: 97%;
        height: 85%;
    }
    #multimediaNewRecipe{
        width:100%;
        height: 80%;
    }
    #barraLateralNewRecipe{
        width: 90%;
    }
    #stepsNewRecipe{
        height: 18vh;
    }
    #menuIngredientesNewRecipe{
        height: 23vh;
    }
    #etiquetasNewRecipe{
        height: 30vh;
    }
    .minInicioInput{
        width: 8%;
    }
    .minFinInput{
        width: 8%;
    }
}
@media (max-width:400px){
    #tittlePasos{
        padding-bottom: 2vh;
    }
    #recipetittlediv{
        flex-direction: column;
    }
    #uploadBtn{
        width: 48%;
        margin-top: 1vh;
    }
}
@media(max-height:690px){
    #recipebodydiv{
        margin: 43vh 0 0 0;
    }
}
@media (width:1024px) and (height:600px){
    #recipebodydiv{
        margin: 7vh 0 0 0;
    }
    #recipetittlediv{
        margin-top: 2vh;
    }
}