.makefs-notification{
    box-shadow: 0 0 10px 0px #00000096;
    position: fixed;
    justify-content: left;
    align-items: center;
    display: none;
    opacity: 0;
    height: 10vh;
    padding: 1%;
    width: 35%;
    margin: 1%;
    top: 8vh;
    right: 0;
    transition: .2s;
    z-index: 12;
}
.makefs-notification-rep{
    width: 8vh;
    height: 8vh;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0 2%;
    margin-right: 3%;
}
.video-notifi{
    top: 24vh !important;
}
.loading{
    background-color: royalblue;
    color: white;
}
.loading .makefs-notification-rep{
    background-image: url(../iconos/loading.png);
    animation: rotateDeg .5s infinite;
}
.success{
    background-color: rgb(122, 216, 113);
    color: white;
}
.success .makefs-notification-rep{
    background-image: url(../iconos/success.png);
}
.error{
    background-color: rgb(233, 94, 94);
    color: white;
}
.error .makefs-notification-rep{
    background-image: url(../iconos/error.png);
}
.notification-title{
    text-transform: uppercase;
}

@keyframes rotateDeg {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.ddr-in-notification{
    z-index: 200;
}

@media(max-width:680px){
    .makefs-notification{
        width: 95%;
    }
}
@media (max-height:760px){
    .makefs-notification{
        height: 16vh !important;
    }
}