:root{
    --color1: #FFBE26;
    --color2: #E08C1D;
    --color3: #F56A14;
    --color4: #E03D14;
    --color5: #FF2C29;
}

body{
    font-family: sans-serif;
}

section{
    margin: auto;
    max-width: none;
}

.makefsContainer{
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 1700px;
    margin: auto;
}

/*---------------------------------------------------------------------------- REPORT ------------------*/
#reportSection{
    width: 100%;
    height: 92vh;
    margin-top: 8vh;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    position: absolute;
    z-index: 9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition: .3s;
}
#report{
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px ;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(17, 17, 17, 0.726);
}
.reasonReport{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-bottom: none;
    box-sizing: border-box;
}
#closereport{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF2C29;
    transition: .2s;
    cursor: pointer;
}
#closereport img{
    width: 50%;
    transition: .2s;
}
#closereport:hover{
    background-color: white;
    
}
#closereport img:hover{
    filter: invert(1);
}
.reasonReport select{
	-moz-appearance: none;
    width: 92%;
    height: 100%;
    font-size: 1.2em;
    background-color: #FF2C29;
    color: white;
    padding-left: 20px;
    border:none;
}

.inputsReport{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.inputsReport textarea{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 10px 20px;
    line-height: 1.5em;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
    resize: none;
}
.inputsReport input{
    width: 100%;
    height: 20%;
    border-radius: 0 0 10px 10px ;
    border: none;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-top: 1px solid black;
    font-variant: small-caps;
    transition: .2s;
    cursor: pointer;
}
.inputsReport input:hover{
    background-color: #FF2C29;
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-size: 1.2em;
}