/*  ----------------------------------------------------------------------------------------------------- PRECONFIGS */

:root{
    --color1: #FFBE26;
    --color2: #E08C1D;
    --color3: #F56A14;
    --color4: #E03D14;
    --color5: #FF2C29;
}

body{
    font-family: sans-serif;
}

section{
    margin: auto;
    max-width: none;
}

.makefsContainer{
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    
}

/*----------------------------------------------Section User-view*/

.userContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chef-view{
    height: 100vh;
    width: 100%;
    max-height: 2500px;
    text-align: center;
}   

/*------------------------------------------------------------------------Contenedor User*/
#userNoChefContainer{
    width: 80%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15vh;
}
.profile-pic-user {
    position: relative;
    width: 35vh;
    height: 35vh;
    object-fit: cover;
    margin: 0;
    padding: 0.5%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 27%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 247px;
    min-height: 252px;
}
.verified-user {
    position: absolute;
    width: 6vh;
    height: 6vh;
    display: flex;
    top: 5%;
    right: 5%;
}
.profile-pic-img-user {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.divUser-view{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#firstdiv{
    height: 20vh;
    justify-content: space-evenly;
}
#importantInfoUser{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-chars-user {
    width: 100%;
    height: fit-content;
    color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 500px;
}
#user-name {
    color: var(--color5);
    font-size: 3.3em;
    margin: 0%;

}
.description-user{
    padding-top: 2vh;
    font-size: 1.2em;
    border-top: var(--color5) 2px solid;
}
.importantDataUser{
    height: 45vh;
    align-items: flex-start;
}
#socialMediaUser{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socialmediadiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialmediadiv img{
    height: 7vh;
}
.socialmediadiv input{
    overflow: visible;
    border: none;
    background: #FF2C29;
    padding: 1.5vh;
    border-radius: 0 10px 10px;
    color: white;
}
.socialmediadiv input:focus{
    outline: none;
}
.socialmediadiv input::placeholder{
    color: rgb(255, 255, 255);
}

#infoData-User{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divInfoData-user{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.infodelusuario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.infodelusuario label{
    border: 2px solid #FF2C29;
    border-right: none;
    padding: 1.5vh;
}
#input-info input{
    width: 90%;
    overflow: visible;
    border: none;
    background: white;
    padding: 1.5vh;
    border: 2px solid #FF2C29;
    border-radius: 0 10px 10px 0;
    border-left: none;
    color: #FF2C29;
    font-weight: bolder;
}
#input-info input:focus{
    outline: none;
}
#tittle-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tittle-info h2{
    margin: 0;
    padding-right: 20%;
    font-size: 2.5em;
    margin-bottom: 2vh;
    color: #FF2C29;
    border-bottom: 2px solid #FF2C29;
    
}
#do-chef{
    width: 90%;
    overflow: visible;
    border: none;
    background: #FF2C29;
    padding: 2vh;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 2%;
}
#profile-edit-user {
    cursor: pointer;
    border: none;
    width: 5vh;
    height: 5vh;
    background-image: url(../img/chef-edit.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: var(--color5);
    z-index: 2;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 24%);
}
#do-chef:hover{
    background: white;
    color: var(--color5);
    font-weight: bolder;
    outline: 2px solid #FF2C29;
    border-radius: 10px;
}
#updateInfo input{
    width: 100%;
    overflow: visible;
    border: none;
    background: #FF2C29;
    padding: 1.5vh;
    border-radius:10px;
    color: white;
    cursor: pointer;
    display: none;
}
#updateInfo input:hover{
    background: white;
    color: var(--color5);
    font-weight: bolder;
    outline: 2px solid #FF2C29;
    border-radius: 10px;
    
}
#profile-edit{
    position: absolute;
    background-color: transparent;
    border: none;
    width: 6vh;
    height: 6vh;
    bottom: 5%;
    right: 5%;
    margin: 0%;
    transition: .2s;
    background-image: url(../img/photoChange.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: var(--color5);
    z-index: 2;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.235);
    cursor: pointer;
}

.updateFotoInput::-webkit-file-upload-button {
    display: none;
}

.updateFotoInput{
    width: 90%;
    border: 2px solid #FF2C29;
    border-radius: 10px;
}
.updateFotoInput::before {
    content: 'Selecciona la foto';
    display: inline-block;
    background: #FF2C29;
    color: white;
    border-right: 2px solid #FF2C29;
    padding: 15px 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: .5s;
}
#submitFoto{
    margin-top: 10%;
    width: 50%;
    overflow: visible;
    border: none;
    background: #FF2C29;
    padding: 1.5vh;
    border-radius:10px;
    color: white;
    cursor: pointer;
}
#cambiarFoto{
    width: 20%;
    display: none;
}